.no1{
	width: 1600px;
	height: 400px;
	background-color: #f7f7f7;
	margin: 0 auto;
}
.m1{
	width: 1600px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	padding-top: 20px;
}
.m1>p{
	display: block;
	width: 500px;
	height: 40px;
	line-height: 40px;
	margin-left:700px;
	font-size: 25px;
}
.m2{
	width: 1600px;
	height: 200px;
	margin: 0 auto;
}
.m2 > ul{
	width: 1200px;
	margin: 0 auto;
}
.m2 > ul > li{
	width: 200px;
	height: 70px;
	float: left;
	position: relative;
	margin: 15px 10px 15px 10px;
}
.m2 > ul > li > a{
	display: block;
	width: 200px;
	height: 50px;
	margin: 0 auto;
}
.m2 > ul > li > a > img{
	display: block;
	margin:0 auto;
}
.m3{
	width: 1600px;
	height: 130px;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
}
.m3 > p{
	display: block;
	width: 1000px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-top: 30px;
}